<footer class=" footer">
    <hr>
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <div class="col-md-10 mt-md-0 mt-3">

                <h3>LEGO WebStore</h3>
                Maison de la Recherche Blaise Pascal<br> 50 Rue Ferdinand Buisson<br> 62228, Calais

            </div>

            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-2 mb-md-0 mb-3">

                <img src="/img/logo_lego.jpg" width="75px" height="auto">
                <h6 class="font-weight-bold">WebStore</h6>

            </div>

        </div>

    </div>
</footer>
<script src="/Js/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="/Js/datelist.js"></script>
<script src="/Js/checker.js"></script>
<script src="/Js/feedback.js"></script>
<script src="/Js/sign.js"></script>